.action-btn {
    margin: 0 5px;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    border-radius: 4px;
    min-width: 100px;
    min-height: 40px;
}