.modal{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    opacity: 0;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
   justify-content: center;
    align-items: center;
    pointer-events: none;
}
.modal.active{
    opacity: 1;
    pointer-events: all;
}

.modal__content{
    width: 460px;
    height: 225px;
    display: flex;
    flex-direction: column;
    background: #df5c3d;
    color: #ffffff;
    max-width: 400px;
    position: relative;
    transition: 0.4s all;
    transform: scale(0.5);
    border-radius: 4px;
}

.modal__content.active{
 transform: scale(1);
}

.modal-title{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    text-align: center;
    padding: 0 25px;
}

.modal-text{
    display: flex;
    margin-top: 35px;
    justify-content: center;
    font-size: 15px;
}

.modal-actions {
    display: flex;
    width: 100%;
    height: 50px;
    justify-content: space-evenly;
    line-height: 15px;
    margin-top: 45px;
}
